#dropdown {
  position: relative;
  float: right;
  display: inline-block;
}

/* .contenu_dropdown doit être défini AVANT .affichage, sinon le contenu ne s'affichera pas */
.contenu_dropdown {
  display: none;
}

.affichable {
  display: block;
}

.bouton_dropdown {
  background-color: #3498DB;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.bouton_dropdown:hover, .bouton_dropdown:focus {
  background-color: #2980B9;
}

.contenu_dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
