body {
    text-align: center;
}

header {
  margin: 10px;
}

#bouton_connexion {
  background-color: #1c3f1d;
  display: inline-block; /* Cela évite que les boutons se superposent sur les textes aux alentours */
  padding: 10px 20px;
  margin: 10px 5px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.2s transform;
}

#bouton_connexion:hover {
  text-decoration: underline;
  transform: scale(1.15) perspective(12px);
}