@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --decalage-symbole: -15px;
}

body {
  text-align: center;
  font-family: 'Roboto', serif;
}

header {
  margin: 10px;
}

.conteneur {
  margin: auto;
  max-width: 25em;
  border: 3px solid green;
  padding: 10px;
  background-color: #f1f1f1;
}

label {
  text-align: left;
}

.noms {
  display: grid;
}

input[type=submit] {
  /* text-align ne fonctionne pas ici, car le texte du bouton est déjà centré. */
  margin: auto;
}

#message {
  display: none;
  max-width: 25em;
  border: 3px solid green;
  margin: 2em auto auto auto;
  background-color: #f1f1f1;
}

#message p {
  text-align: left;
  padding: 5px 35px;
}

.requis:after {
  content: '*';
  color: red;
}

.valide {
  color: green;
}

/* Permet d'ajouter un élément devant les éléments de cette classe (ici, une coche) */
.valide:before {
  position: relative;
  left: var(--decalage-symbole);
  content: "\2714";
}

.invalide {
  color: red;
}

.invalide:before {
  position: relative;
  left: var(--decalage-symbole);
  content: "\292B"; /* Une croix */
}

#image_responsive {
  width: 100%;
  /* On limite la largeur de l'image sinon elle prendrait systématiquement
   * tout l'écran.
   */
  max-width: 640px;
  height: auto;
}

.bouton_lien {
  background-color: red/*#1c3f1d*/;
  display: inline-block; /* Cela évite que les boutons se superposent sur les textes aux alentours */
  padding: 10px 20px;
  margin: 10px 5px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.2s transform;
}

#bouton_connexion {
  background-color: #1C3F1D;
}

#bouton_contact {
  background-color: #92140C;
}

.bouton_lien:hover {
  text-decoration: underline;
  transform: scale(1.15) perspective(12px);
}
